.bg-cloud-right, .bg-cloud-left {
    position: absolute;
    z-index: -100;
    overflow: hidden;
}

.bg-cloud-right:before, .bg-cloud-left:before {
    content:"";
    position: absolute;
    background-size: contain;
}

.bg-cloud-right {
    width: 660px;
    height: 400px;
    right: 0;
    margin-top: -70px;
}

.bg-cloud-right:before {
    width: 100%;
    height: 100%;
    right: -37px;   
    background-image: url(/assets/images/cloud01_dpad-gradient.png);
}

.bg-cloud-left {
    width: 540px;
    height: 265px;
    left: 0;
    margin-top: 300px;
}

.bg-cloud-left:before {
    width: 100%;
    height: 100%;
    left: -55px;
    background-image: url(/assets/images/cloud02_dpad-gradient.png);
}