.connected-filters {
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 1.25rem;
    border-image: url('/assets/images/custom-border02.png') 9;
    border-width: 4px;
    border-style: solid;
    background-color: #fff;
}

.connected-filters .prompt {
    border-image: url('/assets/images/custom-border02.png') 9;
    border-right: 4px solid;
    padding: 0.9em 0.75em;
}

.connected-filters ul {
    display: flex;
    padding: 0 1em;
}

.connected-filters li + li {
    margin-left: 2em;
}

.connected-filters li a {
    display: flex;
    color: var(--neutral-7);
    text-decoration: none;
    transition: color 0.2s ease;
}

.connected-filters .filter-icon {
    position: relative;
    height: 1em;
    padding: 0 0.3em;
}

.connected-filters .filter-icon img {
    width: auto;
    height: 64px;
    transform: translateY(-32px);
    transition: transform 0.3s ease;
}

.connected-filters li a:hover {
    color: var(--accent-0);
}

.connected-filters li a:hover .filter-icon img {
    transform: translateY(-46px);
}