.default-copy {
    font-size: 1rem;
}

.default-copy p + p {
    margin-top: 2.5em;
}

.default-copy ul {
    padding-left: 5em;
}

/* Default image output by the image processor */
.default-copy .content-image {
    display: block;
    width: 100%;
    max-width: 690px;
    height: auto;
    border-radius: .7em;
    margin-right: auto;
    margin-left: auto;
}