.default-copy {
    font-size: 1rem;
    --line-margin: 2.25em;
    --single-margin: 1em;
}

.default-copy h3 {
    font-size: 1.5em;
    max-width: var(--content-width);
    margin: 0.2em auto 1em auto;
}

.default-copy p, .default-copy .spoiler {
    width: 100%;
    max-width: var(--content-width);
    /* Top margin is declared below */
    margin-right: auto;
    margin-left: auto;
}

.default-copy p + p, .default-copy div + p {
    margin-top: var(--line-margin);
}

.default-copy p a {
    color: var(--accent-0);
    text-decoration: none;
    border-radius: 0.2em;
    transition: all ease 0.15s;
}

.default-copy p a:hover {
    background-color: var(--accent-0);
    color: var(--neutral-0);
}

.default-copy ul {
    padding-left: 5em;
}

.default-copy blockquote {
    font-size: 2em;
    width: 100%;
    max-width: var(--content-width);
    margin: 0 auto;
}

.default-copy blockquote p {
    max-width: 100%;
    padding-left: 2em;
    padding-right: 7em;
}

/* Default image output by the image processor */
.default-copy .content-image {
    display: block;
    width: 100%;
    max-width: var(--content-medium);
    height: auto;
    border-radius: var(--corner-base);
    margin-right: auto;
    margin-left: auto;
}

.default-copy .content-image.thumb {
    max-width: 170px;
}

.default-copy .content-image.small {
    max-width: 250px;
}

.default-copy .content-image.medium {
    max-width: 480px;
}

.default-copy .content-image.full-size {
    max-width: var(--max-width);
}

/* Figures with captions built by the Markdown parser */
.default-copy .content-image-with-caption figcaption {
    display: block;
    text-align: center;
    max-width: calc(var(--content-medium) - 2em);
    margin: .8em auto;
    font-size: 1.15em;
    font-weight: var(--font-bold);
}

/* 1-2 Punch Images that display one image on mobile, and two side-by-side images on desktop */
.default-copy .punch {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: var(--content-width);
    margin: var(--line-margin) auto var(--single-margin);
}

.default-copy .punch > p {
    margin: 0;
    padding-right: 0.75em;
}

.default-copy .punch p + p {
    margin: 0;
    padding-right: 0;
    padding-left: 0.75em;
}

/* 1-2 Punch with a portrait and a lanscape */
.default-copy .punch.punch-lp p + p {
    width: 56.5%;
}

.default-copy .spoiler {
    position: relative;
}

.default-copy .spoiler.hidden p {
    visibility: hidden;
}

.default-copy .spoiler:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--neutral-7);
    border-radius: var(--corner-base);
    opacity: 1;
    transition: opacity 0.35s ease;
}

.default-copy .spoiler.not-hidden:before {
    opacity: 0;
    pointer-events: none;
}

.default-copy .spoiler .spoiler-control {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 0.35s ease;
}

.default-copy .spoiler.not-hidden .spoiler-control {
    opacity: 0;
    pointer-events: none;
}

.default-copy .spoiler .spoiler-control > div {
    margin: auto;
}

.default-copy .spoiler .spoiler-control button {
    position: relative;
    font-size: 1.2em;
    font-weight: var(--font-bold);
    padding: 0.6em 3em 0.7em;
    border: 0;
    outline: 0;
    background: none;
    color: var(--neutral-0);
    cursor: pointer;
    z-index: 5;
}

.default-copy .spoiler .spoiler-control button:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: url(/assets/images/body_spoiler-button.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    opacity: 0.32;
    z-index: -1;
    transition: opacity 0.25s cubic-bezier(0.33, 1, 0.68, 1);
}

.default-copy .spoiler .spoiler-control button:hover:before {
    opacity: 0.64;
}


.default-copy .spoiler .spoiler-control button span {
    display: block;
    font-size: 0.65em;
    font-weight: normal;
    padding: 0.4em;
}

.default-copy .spoiler .spoiler-control .note {
    text-align: center;
    font-size: 0.8em;
    padding: 1em;
    color: var(--neutral-0);
}