.default-copy {
    font-size: 1rem;
}

.default-copy p + p {
    margin-top: 2.25em;
}

.default-copy ul {
    padding-left: 5em;
}

/* Default image output by the image processor */
.default-copy .content-image {
    display: block;
    width: 100%;
    max-width: var(--content-medium);
    height: auto;
    border-radius: .7em;
    margin-right: auto;
    margin-left: auto;
}

.default-copy .content-image.small {
    max-width: 250px;
}

.default-copy .content-image.full-size {
    max-width: var(--max-width);
}

/* Figures with captions built by the Markdown parser */
.default-copy .content-image-with-caption figcaption {
    display: block;
    text-align: center;
    max-width: calc(var(--content-medium) - 2em);
    margin: .8em auto;
    font-size: 1.15em;
    font-weight: var(--font-bold);
}