.detail-hero {
    position: relative;
    width: 100%;
    /* 955 width minus custom padding */
    max-width: 1035px;
    margin: 0px auto;
    padding-right: var(--resp-side);
    padding-left: var(--resp-side);
}

@media screen and (min-width: 600px) {
    .detail-hero {
        --resp-side: 2.5em;
    }
}

@media screen and (min-width: 768px) {
    .detail-hero {
        --resp-side: 4.6em;
    }
}

.detail-hero .hero-crop {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 55.152%;
}

.detail-hero .hero-image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    mask: url(/assets/images/detail-hero-mask.svg);
    -webkit-mask: url(/assets/images/detail-hero-mask.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.detail-hero .hero-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding-right: var(--resp-side);
    padding-left: var(--resp-side);
}

.detail-hero .hero-logo {
    position: absolute;
    width: 220px;
    height: auto;
    top: 55%;
}

@media screen and (min-width: 600px) {
    .detail-hero .hero-logo {
        width: 40%;
        max-width: 400px;
    }
}

