.filter-projects header {
    margin-top: 100px;  /* Temporary positioning */
    text-align: center;
}

.filter-projects h3 {
    margin: 0;
    padding-bottom: 0.35em;
}

.filter-projects header p {
    width: 356px;
    margin: 0 auto;
    font-size: .875em;
}

.filter-projects .app {
    display: flex;
}

.filter-projects .filters li {
    margin-bottom: 15px;
    transition: transform 0.2s cubic-bezier(0.32, 0, 0.67, 0);
    transform-origin: center left;
}

.filter-projects .filters .background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
}

.filter-projects .filters button {
    position: relative;
    display: block;
    cursor: pointer;
    width: 9.583em;
    padding: .85em 0 .85em .8em;
    text-align: left;
    font-family: var(--font-header);
    font-size: 1.25em;
}

.filter-projects .filters li:hover {
    transform: scale(1.15, 1.15);
    transition: transform 0.22s cubic-bezier(0.33, 1, 0.68, 1);
}

.filter-projects .filters li:hover + li,
.filter-projects .filters li:has(+ li:hover) {
    transform: scale(1.05, 1.05);
    transition: transform 0.22s cubic-bezier(0.33, 1, 0.68, 1);
}