.project-body {
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
    margin-bottom: 4.5em;
}

.project-body main p {
    width: 100%;
    max-width: var(--content-width);
    /* Top margin is declared in default-copy css */
    margin-right: auto;
    margin-left: auto;
}

.project-footer.connected-filters {
    width: 100%;
    max-width: 1070px;
    margin: 0 auto;
}