.project-header {
    width: 100%;
    max-width: var(--content-width);
    margin: 0 auto;
    padding-top: 1.375em;
}

.project-header .header-copy {
    /* Add padding on resize */
}

.project-header h1 {
    font-family: var(--font-header);
    font-size: 1.938em;
    line-height: 1.4em;
    margin: 0.67em 0 0.45em;
}

.project-header .project-tagline {
    font-size: 1.188;
    font-style: italic;
}

.project-header .horizontal-rule {
    width: 100%;
    height: 10px;
    margin: 2em 0;
    margin-left: -2.5em;
    /* background-color: black; */
    background-image: url(/assets/images/project-header_hr-full@2x.png);
    background-size: var(--max-width);
    background-repeat: no-repeat;
}