/* 
    Copy Excerpt for Resume Page, can be abstracted
    to something more general if there is ever another
    page with similar layout 
*/

.resume-copy {
    width: 100;
    max-width: 730px;
    margin: 1.8em auto 3em;
    text-align: center;
}

@media screen and (min-width: 512px) {
    .resume-copy {
        margin: 2.5em auto 4em;
    }
}

.resume-copy .container {
    width: 100%;
    padding: 0 var(--resp-side);
}