/* 
    Copy Excerpt for Resume Page, can be abstracted
    to something more general if there is ever another
    page with similar layout 
*/

.resume-copy {
    width: 630px;
    max-width: 100%;
    margin: 2.5em auto;
    text-align: center;
    font-size: 1em;
}

.resume-copy .spacer {
    height: 2em;
}