---
permalink: /styles-bundle.css
---

{# Style includes document CSS can be used here, but don't! It's all _includes/styles #}
{# See "Use an Eleventy Template" https://www.11ty.dev/docs/assets/ #}

{% include "styles/fonts.css" %}

{% include "styles/normalize.css" %}
{% include "styles/root-properties.css" %} {# NB: root properties can actually be declared anywhere, this doesn't have to be at the top #}
{% include "styles/base.css" %}

{# Components #}
{% include "styles/components/bg-clouds.css" %} 
{% include "styles/components/bg-dragon.css" %} 
{% include "styles/components/connected-filters.css" %} 
{% include "styles/components/default-copy.css" %}
{% include "styles/components/detail-background.css" %}
{% include "styles/components/detail-hero.css" %}
{% include "styles/components/filter-projects.css" %}
{% include "styles/components/header-home.css" %}
{% include "styles/components/info-screen.css" %}
{% include "styles/components/mail-external.css" %}
{% include "styles/components/project-body.css" %}
{% include "styles/components/project-header.css" %}
{% include "styles/components/subhead-home.css" %}