




/*
    Philosopher is designed by Jovanny Lemonad (who also goes by Ivan Gladkikh). 
    He is a co-founder of TrueType: https://typetype.org/freefonts/
    You can get this font free there, and also on Google Fonts
    I'm not using it here, but there is a really cool Arabic font called
    El Messiri based on it by Mohamed Gaber: 
    https://github.com/Gue3bara/El-Messiri  (you can also get it on Gooogle Fonts)
*/
@font-face {
    font-family: 'Philosopher';
    src: url('/assets/fonts/philosopher-regular.woff2') format('woff2'),
         url('/assets/fonts/philosopher-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Philosopher';
    src: url('/assets/fonts/philosopher-bold.woff2') format('woff2'),
         url('/assets/fonts/philosopher-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Philosopher';
    src: url('/assets/fonts/philosopher-italic.woff2') format('woff2'),
         url('/assets/fonts/philosopher-italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

/* 
    Croissant One is designed by Eduardo Tunni: https://www.behance.net/tipo_ar?locale=en_US
    and comes from: https://fonts.google.com/specimen/Croissant+One
*/
@font-face {
    font-family: 'Croissant One';
    src: url('/assets/fonts/croissantone-regular-webfont.woff2') format('woff2'),
         url('/assets/fonts/croissantone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*
    WebFont conversion from FontSquirrel: https://www.fontsquirrel.com/
    They also have really great fonts there!
*/

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

 html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
  }
  
  /* Sections
     ========================================================================== */
  
  /**
   * Remove the margin in all browsers.
   */
  
  body {
    margin: 0;
  }
  
  /**
   * Render the `main` element consistently in IE.
   */
  
  main {
    display: block;
  }
  
  /**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
  
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }
  
  /* Grouping content
     ========================================================================== */
  
  /**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
  
  hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
  }
  
  /**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
  
  pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }
  
  /* Text-level semantics
     ========================================================================== */
  
  /**
   * Remove the gray background on active links in IE 10.
   */
  
  a {
    background-color: transparent;
  }
  
  /**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
  
  abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
  }
  
  /**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
  
  b,
  strong {
    font-weight: bolder;
  }
  
  /**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
  
  code,
  kbd,
  samp {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }
  
  /**
   * Add the correct font size in all browsers.
   */
  
  small {
    font-size: 80%;
  }
  
  /**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
  
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  
  sub {
    bottom: -0.25em;
  }
  
  sup {
    top: -0.5em;
  }
  
  /* Embedded content
     ========================================================================== */
  
  /**
   * Remove the border on images inside links in IE 10.
   */
  
  img {
    border-style: none;
  }
  
  /* Forms
     ========================================================================== */
  
  /**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
  
  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
  }
  
  /**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
  
  button,
  input { /* 1 */
    overflow: visible;
  }
  
  /**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
  
  button,
  select { /* 1 */
    text-transform: none;
  }
  
  /**
   * Correct the inability to style clickable types in iOS and Safari.
   */
  
  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
    -webkit-appearance: button;
  }
  
  /**
   * Remove the inner border and padding in Firefox.
   */
  
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }
  
  /**
   * Restore the focus styles unset by the previous rule.
   */
  
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
  }
  
  /**
   * Correct the padding in Firefox.
   */
  
  fieldset {
    padding: 0.35em 0.75em 0.625em;
  }
  
  /**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
  
  legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
  }
  
  /**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
  
  progress {
    vertical-align: baseline;
  }
  
  /**
   * Remove the default vertical scrollbar in IE 10+.
   */
  
  textarea {
    overflow: auto;
  }
  
  /**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
  
  [type="checkbox"],
  [type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
  }
  
  /**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
  
  [type="number"]::-webkit-inner-spin-button,
  [type="number"]::-webkit-outer-spin-button {
    height: auto;
  }
  
  /**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
  
  [type="search"] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
  }
  
  /**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
  
  [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  
  /**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
  
  ::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
  }
  
  /* Interactive
     ========================================================================== */
  
  /*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
  
  details {
    display: block;
  }
  
  /*
   * Add the correct display in all browsers.
   */
  
  summary {
    display: list-item;
  }
  
  /* Misc
     ========================================================================== */
  
  /**
   * Add the correct display in IE 10+.
   */
  
  template {
    display: none;
  }
  
  /**
   * Add the correct display in IE 10.
   */
  
  [hidden] {
    display: none;
  }
:root {
    /* Colors */
    --neutral-0: #fcf8f4;
    --neutral-7: #3a3a3a;
    --neutral-4: #938f8c;
    --accent-0: #ffaaaa;
    --accent-1: #9fb1ff;

    --neutral-0-glass: rgb(252, 248, 244, 0.7);

    /* Typography */
    --font-size-base: 15px;
    --font-bold: 700;
    --font-copy: 'Philosopher', sans-serif;
    --font-header: 'Croissant One', serif;

    /* Filters */
    --glass-blur: blur(3px);

    /* Structure */
    --max-width: 1390px;
    --content-width: 990px;
    --content-medium: 720px;

    --resp-side: 1.25em;

    /* Appearance */
    --corner-base: 0.7em;
    --corner-copy: 0.2em;

    /* Media Queries */
    /* 
        These can't be used as query parameters,
        so refer to this list when doing media queries!
    */
    --desktop-base: 1170px;
    --desktop-small: 960px;
    --tablet-portrait: 768px;
    --tablet-medium: 690px;
    --mobile-landscape-small: 600px;
    --mobile-medium: 512px;
    --desktop-minimum: 480px;
    --mobile-portrait-max: 440px;
    --mobile-minimum: 414px;
}

@media screen and (min-width: 440px) {
    :root {
        --resp-side: 1.5em;
    }
}

@media screen and (min-width: 600px) {
    :root {
        --font-size-base: 16px;
    }
}

@media screen and (min-width: 768px) {
    :root {
        --resp-side: 3.125em;
    }    
}

@media screen and (min-width: 960px) {
    :root {
        --resp-side: 4.5em;
    }
} 
html {
    scroll-behavior: smooth;
    font-size: var(--font-size-base);
}

* {
    box-sizing: border-box;
  }

/* Default Overrides */
figure {
    /* Override default margins */
    margin: 0;
}

body {
    position: relative; /* Necessary to position dragon footer background */
    /* 
        Mobile styles are designed to work down to 414px, 
        stop resizing at 320 so things don't crunch if the user is doing something funky
    */
    min-width: 320px;
    color: var(--neutral-7);
    font-family: var(--font-copy);
    text-rendering: optimizeLegibility;
    background-color: var(--neutral-0);
}

/* Accessability */
/* --------------------- */
/* Hide certain elements to all users
except screen readers
From: https://webaim.org/techniques/css/invisiblecontent/ */
.screen-reader {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: (inset(50%));
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

/* Structure */
/* --------------------- */
.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.unstyled-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.unstyled-button {
    background: none;
    border: 0;
}

/* Spacers */
.spacer-2 {
    display: block;
    height: 2em;
}

/* Typography */
/* --------------------- */
.heading-3 {
    font-size: 2.188em;
    font-family: var(--font-header);
    font-weight: 600;
}

/* Appearance */
/* --------------------- */
/* Default link appearance */
p a {
  color: var(--accent-1);
  border-radius: var(--corner-copy);
  text-decoration: none;
  transition: all 0.15s cubic-bezier(0.33, 1, 0.68, 1);
}

p a:hover {
    background-color: var(--accent-1);
    color: var(--neutral-0);
}


.bg-cloud-right, .bg-cloud-left {
    position: absolute;
    z-index: -100;
    overflow: hidden;
}

.bg-cloud-right:before, .bg-cloud-left:before {
    content:"";
    position: absolute;
    background-size: contain;
}

.bg-cloud-right {
    width: 660px;
    height: 400px;
    right: 0;
    margin-top: -70px;
}

.bg-cloud-right:before {
    width: 100%;
    height: 100%;
    right: -37px;   
    background-image: url(/assets/images/cloud01_dpad-gradient.png);
}

.bg-cloud-left {
    width: 540px;
    height: 265px;
    left: 0;
    margin-top: 300px;
}

.bg-cloud-left:before {
    width: 100%;
    height: 100%;
    left: -55px;
    background-image: url(/assets/images/cloud02_dpad-gradient.png);
} 
.bg-dragon {
    position: absolute;
    width: 1525px;
    height: 50px;
    max-width: 120%;
    height: 1064px;
    right: 0;
    bottom: 1px;
    overflow: hidden;
}

.bg-dragon:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    right: -150px;
    bottom: 10px;
    background-image: url(/assets/images/dragon_summer-gradient.png);
    background-size: contain;
    background-repeat: no-repeat;
} 
.connected-filters {
    font-size: 0.9rem;
    border-image: url('/assets/images/custom-border02.png') 9;
    border-width: 4px;
    border-style: solid;
    background-color: #fff;
}

@media screen and (min-width: 440px) {
    .connected-filters {
        font-size: 1.02rem;
    }
}

@media screen and (min-width: 690px) {
    .connected-filters {
        display: flex;
        justify-content: end;
        align-items: center;
    }
}

@media screen and (min-width: 768px) {
    .connected-filters {
        font-size: 1.1rem;
    }
}

@media screen and (min-width: 960px) {
    .connected-filters {
        font-size: 1.25rem;
    }
}

.project-footer .connected-filters {
    max-width: 1070px;
    margin: 0 auto;
}

.connected-filters .prompt {
    display: flex;
    height: 2.75em;
    border-image: url('/assets/images/custom-border02.png') 9;
    border-bottom: 4px solid;
}

@media screen and (min-width: 690px) {
    .connected-filters .prompt {
        height: 2.75em;
        padding: 0 0.75em;
        border-right: 4px solid;
        border-bottom: 0;
    }
}

@media screen and (min-width: 768px) {
    .connected-filters .prompt {
        height: 2.5em;
    }
}

.connected-filters .prompt p {
    margin: auto;
}

.connected-filters ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5em;
    padding: 0 1em;
}

.connected-filters li + li {
    margin-left: 0.5em;
}

@media screen and (min-width: 440px) {
    .connected-filters li+li {
        margin-left: 1em;
    }
}

@media screen and (min-width: 600px) {
    .connected-filters li + li {
        margin-left: 1.35em;
    }
}

@media screen and (min-width: 960px) {
     .connected-filters li + li {
         margin-left: 1.8em;
     }
}

.connected-filters li a {
    display: flex;
    align-items: center;
    color: var(--neutral-7);
    text-wrap: nowrap;
    text-decoration: none;
    transition: color 0.2s ease;
}

.connected-filters .filter-icon {
    padding: 0 0.3em 0 0;
}

.connected-filters .filter-icon img {
    width: auto;
    height: 32px;
    transform: translateY(-0.3em);
    transition: transform 0.3s ease;
}

@media screen and (min-width: 440px) {
    .connected-filters .filter-icon img { 
        height: 2.5em;
    }
}

@media screen and (min-width: 690px) {
    .connected-filters .filter-icon img {
        height: 2.8em;
        transform: translateY(-0.4em);
    }
}

@media screen and (min-width: 768px) {
    .connected-filters .filter-icon img {
        height: 3.2em;
        transform: translateY(-0.7em);
    }
}

.connected-filters li a:hover {
    color: var(--accent-0);
}

.connected-filters li a:hover .filter-icon img {
    transform: translateY(-1em);
}

@media screen and (min-width: 768px) {
    .connected-filters li a:hover .filter-icon img {
        transform: translateY(-1.3em);
    }
} 
.default-copy {
    font-size: 1rem;
    --image-margin: 2em;
    --line-margin: 1.2em;
    --single-margin: 1em;
    padding-right: var(--resp-side);
    padding-left: var(--resp-side);
}

@media screen and (min-width: 440px) {
    .default-copy {
        --image-margin: 2.5em;
    }
}

@media screen and (min-width: 600px) {
    .default-copy {
        --line-margin: 1.75em;
    }
}

@media screen and (min-width: 690px) {
    .default-copy {
        --image-margin: 3em;
        --line-margin: 2.25em;
    }
}

.default-copy h2 {
    font-size: 1.8em;
    max-width: var(--content-width);
    margin: 0.5em auto 1.5em auto;
}

.default-copy p + h2 {
    margin-top: 1.2em;
}

/* Special subheader treatment for default copy */
.default-copy h2 em {
    display: block;
    font-weight: normal;
    font-size: 0.58em;
    padding-top: .45em;
}

.default-copy h3 {
    font-size: 1.5em;
    max-width: var(--content-width);
    margin: 0.2em auto 1em auto;
}

.default-copy p, .default-copy .spoiler {
    width: 100%;
    max-width: var(--content-width);
    /* Top margin is declared below */
    margin-right: auto;
    margin-left: auto;
}

.default-copy .full-size p, .default-copy .full-size .spoiler {
    width: 100%;
    max-width: var(--max-width);
    /* Top margin is declared below */
    margin-right: auto;
    margin-left: auto;
} 

.default-copy p + p, 
.default-copy div + p, 
.default-copy a + p,
.default-copy * + .link-block  {
    margin-top: var(--line-margin);
}


.default-copy p a {
    color: var(--accent-0);
}

.default-copy p a:hover {
    background-color: var(--accent-0);
    color: var(--neutral-0);
}

.default-copy ul {
    padding-left: 5em;
}

.default-copy blockquote {
    font-size: 1.4em;
    width: 100%;
    max-width: var(--content-width);
    margin: 0 auto;
}

@media screen and (min-width: 600px){
    .default-copy blockquote {
        font-size: 1.6em;
    }
}

@media screen and (min-width: 960px) {
    .default-copy blockquote {
        font-size: 2em;
    }
}

.default-copy blockquote p {
    max-width: 100%;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

@media screen and (min-width: 600px) {
    .default-copy blockquote p {
        padding-left: 2em;
        padding-right: 4em;
    }
}

@media screen and (min-width: 1170px) {
    .default-copy blockquote p {
        padding-right: 7em;
    }
}

.default-copy .link-block {
    display: block;
    text-decoration: none;
    color: var(--accent-0);
}

.default-copy .link-block img {
    transition: box-shadow 0.4s cubic-bezier(0.22, 1, 0.36, 1);
}

.default-copy .link-block:hover img {
    box-shadow: 0px 0px 0em 0.8em var(--accent-0);
}

/* Default image output by the image processor */
.default-copy .content-image, .default-copy .content-video {
    display: block;
    width: 100%;
    max-width: var(--content-medium);
    height: auto;
    border-radius: var(--corner-base);
    margin: var(--image-margin) auto;
}

.default-copy figure .content-image {
    margin-bottom: 0.8em;
}

.default-copy .full-size .content-image, .default-copy .full-size .content-video {
    max-width: 100%;
}

.default-copy .content-image.thumb {
    max-width: 170px;
}

.default-copy .content-image.small {
    max-width: 250px;
}

.default-copy .content-image.medium, .default-copy .content-video.medium {
    max-width: 480px;
}

/* Figures with captions built by the Markdown parser */
.default-copy .content-image-with-caption figcaption {
    display: block;
    text-align: center;
    max-width: calc(var(--content-medium) - 2em);
    margin: .8em auto;
    font-size: 1.15em;
    font-weight: var(--font-bold);
}

/* Add a little more padding on figcaptions inside links */
.default-copy .link-block .content-image-with-caption figcaption {
    margin: 1em auto;
}

/* 1-2 Punch Images that display one image on mobile, and two side-by-side images on desktop */
.default-copy .punch {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: var(--content-width);
    margin: var(--line-margin) auto var(--single-margin);
}

.default-copy .punch > p {
    margin: 0;
    padding-right: 0.75em;
}

.default-copy .punch p + p {
    margin: 0;
    padding-right: 0;
    padding-left: 0.75em;
}

/* 1-2 Punch with a portrait and a lanscape */
.default-copy .punch.punch-lp p + p {
    width: 56.5%;
}

.default-copy .spoiler {
    position: relative;
}

.default-copy .spoiler.hidden p {
    visibility: hidden;
}

.default-copy .spoiler:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--neutral-7);
    border-radius: var(--corner-base);
    opacity: 1;
    transition: opacity 0.35s ease;
}

.default-copy .spoiler.not-hidden:before {
    opacity: 0;
    pointer-events: none;
}

.default-copy .spoiler .spoiler-control {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 0.35s ease;
}

.default-copy .spoiler.not-hidden .spoiler-control {
    opacity: 0;
    pointer-events: none;
}

.default-copy .spoiler .spoiler-control > div {
    margin: auto;
}

.default-copy .spoiler .spoiler-control button {
    position: relative;
    font-size: 1.2em;
    font-weight: var(--font-bold);
    padding: 0.6em 3em 0.7em;
    border: 0;
    outline: 0;
    background: none;
    color: var(--neutral-0);
    cursor: pointer;
    z-index: 5;
}

.default-copy .spoiler .spoiler-control button:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: url(/assets/images/body_spoiler-button.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    opacity: 0.32;
    z-index: -1;
    transition: opacity 0.25s cubic-bezier(0.33, 1, 0.68, 1);
}

.default-copy .spoiler .spoiler-control button:hover:before {
    opacity: 0.64;
}


.default-copy .spoiler .spoiler-control button span {
    display: block;
    font-size: 0.65em;
    font-weight: normal;
    padding: 0.4em;
}

.default-copy .spoiler .spoiler-control .note {
    text-align: center;
    font-size: 0.8em;
    padding: 1em;
    color: var(--neutral-0);
}
body.pagetype-detail {
    background-image: url(/assets/images/detail_background-left_dogwood-retro.svg), url(/assets/images/detail_background-right_dogwood-retro.svg);
    background-position: 0% 0%, 100% 0%;
    background-repeat: repeat-y, repeat-y;
    background-size: 716px 1926px, 700px 1926px;
    /* Allows info-screen to go off page without causing scroll */
    overflow-x: hidden;
}
.detail-hero {
    position: relative;
    width: 100%;
    /* 955 width minus custom padding */
    max-width: 1035px;
    margin: 0px auto;
    padding-right: var(--resp-side);
    padding-left: var(--resp-side);
}

@media screen and (min-width: 600px) {
    .detail-hero {
        --resp-side: 2.5em;
    }
}

@media screen and (min-width: 768px) {
    .detail-hero {
        --resp-side: 4.6em;
    }
}

.detail-hero .hero-crop {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 55.152%;
}

.detail-hero .hero-image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    mask: url(/assets/images/detail-hero-mask.svg);
    -webkit-mask: url(/assets/images/detail-hero-mask.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.detail-hero .hero-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding-right: var(--resp-side);
    padding-left: var(--resp-side);
}

.detail-hero .hero-logo {
    position: absolute;
    width: 220px;
    height: auto;
    top: 55%;
}

@media screen and (min-width: 600px) {
    .detail-hero .hero-logo {
        width: 40%;
        max-width: 400px;
    }
}


.featured-icons-list ul {
    display: flex;
    align-items: start;
    justify-content: center;
}

.featured-icons-list li {
    max-width: 200px;
    margin-right: 3.125em;
}

.featured-icons-list li:nth-child(3) {
    margin-right: 0;
}

.featured-icons-listing {
    display: block;
    position: relative;
    width: 100%;
    text-decoration: none;
    transition: transform 0.2s cubic-bezier(0.32, 0, 0.67, 0);
}

.featured-icons-listing figure:after {
    content: '';
    position: absolute;
    width: 118%;
    height: 200%; /* This just has to be a lot bigger than the width */
    background-image: url(/assets/images/featured-frame_sign@2x.png);
    background-size: contain;
    background-repeat: no-repeat;
    top: -7%;
    left: -8%;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s cubic-bezier(0.34, 1.56, 0.64, 1);
    transition-delay: 0.1s;
}


.featured-icons-listing .icon {
    position: absolute;
    top: -1em;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 2;
    opacity: 1;
    transition: transform 0.15s cubic-bezier(0.25, 1, 0.5, 1), opacity 0.2s cubic-bezier(0.25, 1, 0.5, 1);
}

.featured-icons-listing:hover {
    transform: translate(0px, -1em);
    transition: transform 0.25s cubic-bezier(.21, 1.5, .64, 1);
}

.featured-icons-listing:hover figure:after {
    opacity: 1;
    pointer-events: all;
    transition: opacity 0.2s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.featured-icons-listing:hover .icon {
    transform: translate(0px, -20%);
    opacity: 0;
    transition: transform 0.3s 0.1s cubic-bezier(0.16, 1, 0.3, 1), opacity 0.8s 0.1s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.featured-icons-listing .icon img {
    width: 125px;
    height: auto;
}

.featured-icons-listing .thumb {
    mask-image: url(/assets/images/featured-frame_mask.svg);
    mask-repeat: no-repeat;
}

.featured-icons-listing .thumb img {
    width: 100%;
    height: auto;
}

.featured-icons-listing figcaption {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 1.438em;
    font-weight: 700;
    color: var(--neutral-0);
    bottom: 2.3em;
    /* Generated here: https: //owumaro.github.io/text-stroke-generator/ */
    text-shadow: 
    var(--neutral-7) 3px 0px 0px, 
    var(--neutral-7) 2.83487px 0.981584px 0px,
    var(--neutral-7) 2.35766px 1.85511px 0px,
    var(--neutral-7) 1.62091px 2.52441px 0px,
    var(--neutral-7) 0.705713px 2.91581px 0px,
    var(--neutral-7) -0.287171px 2.98622px 0px,
    var(--neutral-7) -1.24844px 2.72789px 0px,
    var(--neutral-7) -2.07227px 2.16926px 0px,
    var(--neutral-7) -2.66798px 1.37182px 0px,
    var(--neutral-7) -2.96998px 0.42336px 0px,
    var(--neutral-7) -2.94502px -0.571704px 0px,
    var(--neutral-7) -2.59586px -1.50383px 0px,
    var(--neutral-7) -1.96093px -2.27041px 0px,
    var(--neutral-7) -1.11013px -2.78704px 0px,
    var(--neutral-7) -0.137119px -2.99686px 0px,
    var(--neutral-7) 0.850987px -2.87677px 0px,
    var(--neutral-7) 1.74541px -2.43999px 0px,
    var(--neutral-7) 2.44769px -1.73459px 0px,
    var(--neutral-7) 2.88051px -0.838247px 0px;
}
/* Filters */
.filter-projects {
    padding: 0 0.75em;
    --filter-shadow: drop-shadow(0px 2px 1px rgba(0, 0, 0, .4));
}

@media (min-width: 690px) {
    .filter-projects {
        padding: 0 1.35em;
    }
}

.filter-projects header {
    margin-top: 100px;  /* Temporary positioning */
    text-align: center;
}

.filter-projects h3 {
    margin: 0;
    padding-bottom: 0.35em;
}

.filter-projects header p {
    width: 356px;
    margin: 0 auto;
    font-size: .875em;
}

.filter-projects .app {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (min-width: 1024px) {
    .filter-projects .app {
        flex-wrap: nowrap;
    }
}

.filter-projects .app .filters {
    width: 100%;
}

@media (min-width: 1024px) {
    .filter-projects .app .filters {
        width: auto;
        padding-right: 3.2em;
    }
}

.filter-projects .filters ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 0.625em;
}

@media (min-width: 512px) {
    .filter-projects .filters ul {
        margin-bottom: 1.7em;
    }
}

@media (min-width: 690px) {
    .filter-projects .filters ul {
        margin-bottom: 2.25em;
    }
}

@media (min-width: 1024px) {
    .filter-projects .filters ul {
        display: block;
    }
}

.filter-projects .filters li {
    /* margin-bottom: 15px; */
    margin: 0 0.35em 0.5em;
    transition: transform 0.2s cubic-bezier(0.32, 0, 0.67, 0);
    transform-origin: center left;
    filter: var(--filter-shadow);
}

@media (min-width: 768px) {
    .filter-projects .filters li {
        margin: 0 0.53em 0.5em;
    }  
}

.filter-projects .filters .background {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    filter: var(--filter-shadow);
}

.filter-projects .filters button {
    position: relative;
    display: block;
    cursor: pointer;
    text-align: left;
    font-family: var(--font-header);
    font-size: 1.1em;
    padding: 0.35em 1em;
    text-wrap: nowrap;
    background-image: url('/assets/images/filter-projcets-filter-ticket.png');
    background-position: center;
    clip-path: polygon(0% 0%,
                calc(100% - 8px) 0%,
                100% 25%,
                100% 100%,
                0% 100%);
}

@media (min-width: 768px) {
    .filter-projects .filters button {
        padding: 0.5em 1.2em;
    }
}

@media (min-width: 1024px) {
    .filter-projects .filters button {
        width: 9.583em;
        padding: .85em 0 .85em .8em;
        font-size: 1.3em;
        background-size: contain;
        background-position: 0;
        background-repeat: no-repeat;
        clip-path: none;
    }
}

.filter-projects .filters li:hover {
    transform: scale(1.15, 1.15);
    transition: transform 0.22s cubic-bezier(0.33, 1, 0.68, 1);
}

.filter-projects .filters li:hover + li,
.filter-projects .filters li:has(+ li:hover) {
    transform: scale(1.05, 1.05);
    transition: transform 0.22s cubic-bezier(0.33, 1, 0.68, 1);
}


/* Project List */
/* -------------------- */
.filter-projects .projects-list {
    /* width: 75.378%; */
    width: 100%;
    margin: 0 auto;
    --nav-height: 48px;
    --border-image: url('/assets/images/custom-border02.png') 9;
    --border-style: 4px solid;
}

@media (min-screen: 690px) {
    .filter-project .projects-list {
        --nav-height: 60px;
    }
}

/* Filter sheet */
/* Just an ol' table */
.filter-projects .filter-header {
    position: relative;
    width: 100%;
    /* border: 3px solid #eaeaea; */
    border-spacing: 0;
    border-image: var(--border-image);
    border-width: 4px;
    border-style: solid;
    border-radius: 4px;
    background-color: var(--neutral-0-glass);
    backdrop-filter: var(--glass-blur);
    z-index: 2;
}

.filter-projects .filter-header .header-space td {
    height: 1.875em;
    border-image: var(--border-image);
    border-bottom: var(--border-style);
}

.filter-projects .filter-header .label {
    position: relative;    
    width: 32px;
    height: var(--nav-height);
    border-image: var(--border-image);
    border-right: var(--border-style);
    padding: 0 0.75em;
}

.filter-projects .filter-header .label span {
    display: block;
    position: absolute;
    top: var(--nav-height);
    left: calc(50% - .5em);
    width: var(--nav-height);
    text-align: center; 
    transform: rotate(270deg);
    transform-origin: left top;
}

.filter-projects .filter-header .filter-name {
    position: relative;
    font-size: 1.2em;
    padding: 0px 0.7em;
    width: 45%;
    border-image: var(--border-image);
    border-right: var(--border-style);
}

@media (min-width: 480px) {
    .filter-projects .filter-header .filter-name {
        width: 35%;
    }
}

@media (min-width: 690px) {
    .filter-projects .filter-header .filter-name {
        font-size: 1.4em;
        width: 28%;
    }
}

.filter-projects .filter-header .filter-name:before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: 3px;
    right: 5px;
    bottom: 5px;
    left: 5px;
    background-image: url(/assets/images/filter-ticket-label.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.filter-projects .filter-header .filters-clear {
    display: flex;
    align-items: center;
    font-size: 1.063em;
    cursor: pointer;
    padding: 0px 0.4em 0 0.6em;
}

@media (min-width: 690px) {
    .filter-projects .filter-header .filters-clear {
        padding: 0px 1em 0;
    }
}

.filter-projects .filter-header .filters-clear img {
    width: 25px;
    height: auto;
    padding-right: .3em;
}

@media (min-width: 690px) {
    .filter-projects .filter-header .filters-clear img {
        width: 30px;
        padding-right: .4em;
    }
}

.filter-projects .filter-container {
    position: relative;
    border-image: var(--border-image);
    border-width: 4px;
    border-style: solid;
    border-top: 0;
    border-radius: 4px;
    margin-top: -4px;
    padding: 2em 1.2em;
    background-color: var(--neutral-0-glass);
    backdrop-filter: var(--glass-blur);
    z-index: 0;
}

@media (min-width: 512px) {
    .filter-projects .filter-container {
        padding: 2em 1.5em;
    }
}

@media (min-width: 1024px) {
    .filter-projects .filter-container {
        padding: 2.25em 1.875em;
    }
}

/* Project Listings */
.filter-projects .projects-list ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.filter-projects .projects-list li {
    width: 45.5%;
    max-width: 240px;
    margin-left: 7%;
    /* width: 29.652%;
    margin-left: 5.5%; */
}

@media (min-width: 690px) {
    .filter-projects .projects-list li {
        width: 29.652%;
        margin-left: 5.5%;
    }
}

@media (max-width: 679px) {
    .filter-projects .projects-list li:nth-child(odd) {
        margin-left: 0;
    }
}

@media (min-width: 690px) {
    .filter-projects .projects-list li:first-child,
    .filter-projects .projects-list li:nth-child(3n + 4) {
        margin-left: 0;
    }
}

.filter-projects .projects-list a {
    display: block;
    color: var(--neutral-7);
    text-align: center;
    font-size: 1em;
    text-decoration: none;
}

.filter-projects .projects-list figure {
    position: relative;
    /* padding-bottom: 3.25em; */
    margin-bottom: 1.65em;
}

@media (min-width: 690px) {
    .filter-projects .projects-list figure {
        margin-bottom: 2.45em;
    }
}

/* TODO: Maybe convert mask images to clip paths */
/* Thumbnail responds to ratio using the ol' padding trick */
.filter-projects .projects-list .thumb {
    position: relative;
    width: 100%;
    height: 0px;
    padding-top: 72.597%;
    /* Box shadow has to be on parent elemnt to not get clipped,
    but respects the mask through CSS magic */
    filter: drop-shadow(0px 3px 3px rgba(0,0,0,.2))
}

/* Thumb-image fills out padded element so it can have shadows and stuff */
.filter-projects .projects-list .thumb-image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    mask: url(/assets/images/project-listing-tv-mask.svg);
    -webkit-mask: url(/assets/images/project-listing-tv-mask.svg);
    background-size: cover;
}

/* An empty pseudo element for darkening on hover */
.filter-projects .projects-list .thumb-image:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(16, 14, 36, 0.5);
    opacity: 0;
    transition: opacity .3s .1s cubic-bezier(0.33, 1, 0.68, 1);
}

.filter-projects .projects-list figcaption {
    padding: 0.4em 12% 0;
}

.filter-projects .projects-list figure:before {
    content: "";
    position: absolute;
    z-index: 2;
    display: block;
    width: 102%;
    left: -2%;
    height: 100%;
    background-image: url(/assets/images/project-listing-frame01.png);
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.2s cubic-bezier(0.34, 1.56, 0.64, 1);
    transition-delay: 0.05s;
}

/* Shaded overlay for all items that aren't hovered */
.filter-projects .projects-list.item-hovered a .thumb-image:after {
    opacity: 1;
    transition: opacity .2s cubic-bezier(.37,0,.63,1);
}

.filter-projects .projects-list.item-hovered a:hover .thumb-image:after {
    opacity: 0;
    transition: opacity .3s cubic-bezier(0.33, 1, 0.68, 1);
}

/* Bounce and shadow for the hovered link */
.filter-projects .projects-list a:hover {
    transform: translate(0px, -.6em);
    transition: transform 0.25s cubic-bezier(.21,1.5,.64,1);
}

.filter-projects .projects-list a:hover .thumb-image {
    box-shadow: inset 0px 0px 24px 8px rgba(14, 13, 24, 0.75);
}

.filter-projects .projects-list a:hover figure:before {
    opacity: 1;
    transition: opacity 0.2s cubic-bezier(0.34, 1.56, 0.64, 1);
}
/* <a> */
.floating-back {
	position: fixed;
    left: 0;
    bottom: 2em;
    text-decoration: none;
    /* 
        Local size of component can be controlled
        with font-size 
    */
    font-size: 0.65rem;
    width: 4.9em;
}

@media screen and (min-width: 600px) {
    .floating-back {
       font-size: 0.8rem;
    }
}

@media screen and (min-width: 768px) {
    .floating-back {
        bottom: auto;
        top: calc(50% - 4.8em);
    }
}

@media screen and (min-width: 960px) {
    .floating-back {
        font-size: 1rem;
    }
}

@media screen and (min-width: 1170px) {
    .floating-back {
        font-size: 1.25rem;
    }
}

.floating-back .backing {
    position: absolute;
    display: block;
    width: 5.6em;
    height: auto;
    top: -1.2em;
    z-index: 0;
}

@media screen and (min-width: 600px) {
    .floating-back .backing {
        width: 5.3em;
    }
}

@media screen and (min-width: 960px) {
    .floating-back .backing {
        width: 5.15em;
    }
}

.floating-back .lantern {
    display: block;
    position: relative;
    width: 3.7em;
    height: auto;
    transition: transform 0.5s cubic-bezier(.51,.01,.57,1.67);
    z-index: 1;
}

.floating-back:hover .lantern {
    transform: translateY(-5px);
}

.floating-back span {
    display: block;
    position: relative;
    text-align: center;
    font-family: var(--font-header);
    font-size: 1.35em;
    color: var(--neutral-4);
    padding-top: 0.34em;
    z-index: 1;
    transition: color 0.2s ease-out;
}

@media screen and (min-width: 600px) {
    .floating-back span {
        font-size: 1.12em;
        padding-top: 0.28em;
    }
}

@media screen and (min-width: 960px) {
    .floating-back span {
        font-size: 1em;
        padding-top: 0.2em;
    }
}

.floating-back:hover span {
    color: var(--accent-1);
}
.base-footer {
    display: flex;
    justify-content: flex-end;
    margin: 6.5em 0 0 0;
    width: 100%;
    overflow: hidden;
}

.base-footer .container {
    width: 75%;
    max-width: 570px;
    margin: 0 0 0 auto;
    padding: 0.5em 0.7em 0.5em 0.5em;
    text-align: right;
    border-image: url('/assets/images/custom-border02.png') 9;
    border-width: 4px;
    border-style: solid;
    border-right: 0;
    border-bottom: 0;
    background-color: #fff;
}

.base-footer p {
    margin: 0;
    font-size: 0.8em;
}

.base-footer p + p {
    margin-top: 0.8em;
}
.header-home {
    position: relative;
}


.header-home figure {
    overflow: hidden;
}

.header-home .window {
    display: block;
    width: 112%;
    margin-left: -6.5%;
}

@media (min-width: 600px) {
    .header-home .window {
        width: 107%;
    }
}

@media screen and (min-width: 768px) {
    .header-home .window {
        width: 100%;
        margin-left: 0;
    }
}

.header-home .window img {
    width: 100%;
}

.header-home .window-view img {
    position: absolute;
    top: 6.2vw;
    left: 1.6vw;
    max-width: 414px;
    width: 40.385%;
    z-index: -1;
}

@media (min-width: 600px) {
  .header-home .window-view img {
    width: 38.385%;
  }  
}

@media (min-width: 768px) {
    .header-home .window-view img {
        left: 8vw;
        width: 35.385%;
    }
}

@media (min-width: 1170px) {
    .header-home .window-view img {
        top: 73px;
        left: 94px;
    }
}

.header-home .introduction {
    position: absolute;
    top: 11.2vw;
    left: 48.75vw;
    width: 42vw;
    max-width: 470px;
    font-size: 1.368vw;
}

@media (min-width: 600px) {
    .header-home .introduction {
        top: 11.5vw;
        left: 46.5vw;
        width: 40.171vw;
    }
}

@media (min-width: 768px) {
    .header-home .introduction {
        top: 10.35vw;
        left: 48.15vw;
    }
}

@media (min-width: 1170px) {
    .header-home .introduction {
        font-size: 16px;
        top: 122px;
        left: 565px;
    }
}

.header-home .greeting {
    font-size: 3.1em;
    font-family: var(--font-header);
    color: #F6A6A7;
}

@media (min-width: 600px) {
    .header-home .greeting {
        font-size: 2.85em;
    }
}

@media (min-width: 768px) {
    .header-home .greeting {
        font-size: 2.5em;
    }
}

.header-home .introduction h2 {
    font-size: 2.2em;
    font-weight: normal;
    margin: 0.6em 0 0.83em;
}

@media (min-width: 600px) {
    .header-home .introduction h2 {
        font-size: 2em;
    }
}

@media (min-width: 768px) {
    .header-home .introduction h2 {
        font-size: 1.875em;
        margin: 0.83em 0;
    }
}


.header-home .header-link {
    display: block;
    font-size: 1.65em;
    /* padding-top: 1.8em; */
    /* font-size: 1.15em; */
    color: var(--accent-0);
}

@media (min-width: 768px) {
    .header-home .header-link {
        padding-top: 1.1em;
    }
}

@media (min-width: 960px) {
    .header-home .header-link {
        font-size: 1.3em;
    }
}

.project-info {
    width: 100%;
    max-width: 1200px;
    margin: 1.3em 0 2.25em;
}

@media screen and (min-width: 768px) {
    .project-info {
        margin: 1.5em 0 3em;
    }
}

@media screen and (min-width: 768px) {
    .project-info {
        padding: 0 20px;
        margin: 0 auto;
    }
}

.project-info .info-screen {
    position: relative;
}

@media screen and (min-width: 768px) {
    .project-info .info-screen {
        position: static;
        width: 32%;
        margin-top: -216px;
        margin-right: -47px;
        margin-left: 13.333%;
        padding-bottom: 4em;
        float: right;
    }
}

@media screen and (min-width: 960px) {
    .project-info .info-screen {
        width: 28.821%;
        margin-right: auto;
        margin-left: 13.333%;
    }
}

.info-screen .screen-top {
    display: none;
}

@media screen and (min-width: 768px) {
    .info-screen .screen-top {
        display: block;
        width: 100%;
        position: relative;
        z-index: 10;
        pointer-events: none;
    }
}

.project-info ul.info-list {
    display: block;
    width: 88%;
}


@media screen and (min-width: 768px) {
    .project-info ul.info-list {
        width: auto;
        position: relative;
        /* List tucks under the screen-top graphic */
        margin-top: -20.398%;
        margin-bottom: -15.554%;
        padding: 0 20.049% 1.1em 6.284%;
    }
}


@media screen and (min-width: 768px) {
    .project-info .info-list:after {
        content: "";
        position: absolute;
        width: 100%;
        /* Same numbers as list margin-top and bottom from above */
        height: calc(64.048%);
        top: 20.398%;
        left: 0;
        background-image: url("/assets/images/project_info-screen_middle@2x.png");
        background-size: 100%, auto;
        z-index: 0;
        pointer-events: none;
    }
}


.project-info .info-list li {
    width: 100%;
    margin: 0;
    background-color: var(--accent-0);
}

.project-info .info-list li + li {
    margin-top: 0.313em;
}

.project-info .info-list .info-name {
    font-size: 0.8em;
    color: var(--neutral-0);
}

.project-info .info-list .info-value {
    font-size: 0.75em;
}

@media screen and (min-width: 960px) {
    .project-info .info-list .info-name {
        font-size: 0.938em;
    }

    .project-info .info-list .info-value {
        font-size: 0.85em;
    }
}

@media screen and (min-width: 1170px) {
    .project-info .info-list .info-name {
            font-size: 1.063em;
    }

    .project-info .info-list .info-value {
            font-size: 0.938em;
    }
}

/* Below tablet widths, info-text and info-longtext have the same display */

.project-info .info-list li.info-text, .project-info .info-list li.info-longtext {
    display: flex;
    align-items: center;
    padding-right: 4px;
    border-top: 4px solid var(--accent-0);
    border-bottom: 4px solid var(--accent-0);
    border-radius: 0 1em 1em 0;
}

@media screen and (min-width: 768px) {
    .project-info .info-list li.info-text {
        padding-right: 0;
        border-radius: 0;
    }
}

.project-info .info-list li.info-text .info-name, .project-info .info-list li.info-longtext .info-name {
    padding: 0 .706em;
    width: 40%;
}

.project-info .info-list li.info-text .info-value, .project-info .info-list li.info-longtext .info-value {
    background-color: #fff;
    padding: 0.35em 0 0.35em 1.25em;
    width: 100%;
    border-radius: 1em;
}

@media screen and (min-width: 768px) {
    .project-info .info-list li.info-text .info-value {
        text-align: center;
        border-radius: 1em 0 0 1em;
    }
}

/* For the wider width "screen" display, longtext has its own display */
@media screen and (min-width: 768px) {
    .project-info .info-list li.info-longtext {
        display: block;
        padding-right: 0;
        border: none;
        border-radius: 0;
    }

    .project-info .info-list li.info-longtext .info-name {
        padding: 0.471em .706em;
    }

    .project-info .info-list li.info-longtext .info-value {
        padding: .3em 1em 0.7em;
        text-align: left;
        background-color: #fff;
        border-radius: 1em 1em 0 0;
    }
 
}

.info-screen .screen-bottom {
    display: none;
}

@media screen and (min-width: 768px) {
    .info-screen .screen-bottom {
        display: block;
        position: relative;
        width: 100%;
        height: auto;
        z-index: 10;
        pointer-events: none;
    }
}
.mail-external {
    text-align: center;
    font-size: 0.75rem;
}

@media screen and (min-width: 690px) {
    .mail-external {
        font-size: 0.9rem;
    }
}

@media screen and (min-width: 960px) {
    .mail-external {
        font-size: 1rem;
    }
}

.mail-external .container {
    padding-top: 220px;
}

.mail-external .mail-logo {
    display: block;
    width: 23.5em;
    margin: 0 auto;
}

.mail-external .mail-logo img {
    width: 100%;
    height: auto;
    margin-left: 2.8em;
}

.mail-external .mail-callout {
    position: relative;
    width: 100%;
    margin: -5.75em auto 0;
}

@media screen and (min-width: 690px) {
    .mail-external .mail-callout {
        width: 630px;
        margin: -5.75em auto 0;
    }
}

.mail-external .mail-callout:before {
    content: "";
    position: absolute;
    display: block;
    width: 120%;
    height: calc(100% + 30px);
    z-index: -2;
    top: -30px;
    left: -10%;
    border-image-source: url(/assets/images/mail_callout-border-box.png);
    border-image-slice: 218 fill;
    border-image-width: 109;
    border-image-repeat: repeat;
    border-style: solid;
}

@media screen and (min-width: 690px) {
    .mail-external .mail-callout:before {
        width: 100%;
        left: auto;
    }
}

.mail-external .mail-text {
    display: block;
    text-decoration: none;
    color: var(--neutral-07);
}

.mail-external .mail-callout p {
    font-size: 1.75em;
    margin: .3em auto;
    padding: 0 2em;
}

@media screen and (min-width: 690px) {
    .mail-external .mail-callout p {
        padding: 0;
    }
}

.mail-external .mail-callout .prompt {
    font-size: 2.2em;
    margin: 0.5em auto 0;
    font-family: var(--font-header);
    transition: all 0.15s cubic-bezier(0.61, 1, 0.88, 1);
}

.mail-external .mail-callout .email-address {
    font-size: 1.32em;
    letter-spacing: 0.12em;
    margin: 0.3em auto 1.35em;
}

.mail-external .socials {
    width: 100%;
    max-width: 380px;
    margin: 2.8em auto 2em;
    padding-bottom: 1em;
}

.mail-external .socials p {
    /* 
        These are small the whole time, so 
        they size relative to root instead of
        the component
    */
    font-size: 0.8rem;
}

@media screen and (min-width: 690px) {
    .mail-external .socials p {
        font-size: 0.875rem;
    }
}

.mail-external .socials ul {
    display: flex;
    justify-content: center;
}

.mail-external .socials li {
    padding: 0.7em;
}

.mail-external .socials li img {
    width: 24px;
    height: auto;
}

/* Hover Effects */
.mail-logo:hover + .mail-callout .prompt, .mail-text:hover .prompt {
    color: var(--accent-1);
    text-decoration: underline;
}
.project-body {
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
    margin-bottom: 4.5em;
}

.project-footer {
    width: 100%;
    padding: 0 1.25em;
}
.project-header {
    width: 100%;
    padding-top: 0;
    padding-right: var(--resp-side);
    padding-left: var(--resp-side);
}

@media screen and (min-width: 600px) {
    .project-header {
        padding-top: 0.65em;
    }
}

@media screen and (min-width: 768px) {
    .project-header {
        padding-top: 1.375em;
    }
}

.project-header .header-copy {
    /* Add padding on resize */
    max-width: var(--content-width);
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .project-header h1,
    .project-header .project-tagline {
        max-width: 73%;
    }
}


.project-header h1 {
    font-family: var(--font-header);
    font-size: 1.6em;
    line-height: 1.4em;
    margin: 0.67em 0 0.25em;
}

@media screen and (min-width: 440px) {
    .project-header h1 {
        font-size: 1.75em;
    }
}

@media screen and (min-width: 600px) {
    .project-header h1 {
        font-size: 1.938em;
    }
}

@media screen and (min-width: 768px) {
    .project-header h1 {
        margin: 0.67em 0 0.45em;
    }
}

.project-header .project-tagline {
    font-size: 1.188;
    font-style: italic;
}

.project-header .horizontal-rule {
    width: 100%;
    max-width: var(--content-width);
    margin: 0 auto;
}

.project-header .horizontal-rule .line {
    display: none;
    width: 100%;
    height: 10px;
    margin: 2em 0;
    margin-left: calc((var(--resp-side) * -1) - 10px);
    background-image: url(/assets/images/project-header_hr-full@2x.png);
    background-size: var(--max-width);
    background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
    .project-header .horizontal-rule .line {
        display: block;
        width: 86%;
        max-width: 790px;
        height: 10px;
        margin: 2em 0;
        margin-left: -55px;
    }
}

@media screen and (min-width: 960px) {
    .project-header .horizontal-rule .line {
        width: 79.798%;
        margin-left: -40px;
    }
}
/* 
    Copy Excerpt for Resume Page, can be abstracted
    to something more general if there is ever another
    page with similar layout 
*/

.resume-copy {
    width: 630px;
    max-width: 100%;
    margin: 1.6em auto;
    text-align: center;
    font-size: 1.12em;
}

.resume-copy .spacer {
    height: 2em;
}
.resume-header {
    position: relative;
    margin-top: -45px;
}

.resume-header .logo {
    position: relative;
    display: block;
    max-width: 276px;
    height: auto;
    margin: 0 auto;
    z-index: 10;
}

.resume-header .container:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-image: url(/assets/images/callout-box_rough-paper_static.png);
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.resume-header .container {
    position: relative;
    max-width: 100%;
    width: 385px;
    margin: 0 auto;
    margin-top: -6.15em;
    text-align: center;
    padding: 2.26em 0;
}

.resume-header .container h1 {
    position: relative;
    margin: 0;
    font-size: 2.188em;
    z-index: 10;
}
.subhead-home {
    width: 100%;
    margin-top: -0.5em;
    overflow: hidden;
    --sticker-shadow: drop-shadow(0px 1px 2px rgba(0 0 0 / 65%));
}

@media (min-width: 600px) {
    .subhead-home {
        margin-top: -0.85em;
    }
}

@media (min-width: 768px) {
    .subhead-home {
        padding: 0 var(--resp-side);
    }
}

@media (min-width: 960px) {
    .subhead-home {
        margin-top: -1.2em;
    }
}

.subhead-home .container {
    display: flex;
    justify-content: space-between;
    width: 110%;
    max-width: 960px;
    margin-left: -5%;
}

@media (min-width: 600px) {
    .subhead-home .container {
        padding: 6px 0;
    }
}

@media (min-width: 768px) {
    .subhead-home .container {
        width: 100%;
        margin: 0 auto;
    }
}

.subhead-home .callout-0, .subhead-home .callout-1 {
    position: relative;
}

.subhead-home .backing {
    position: relative;
    width: 100%;
    height: auto;
}

.subhead-home .callout-0 {
    width: 51.5%;
}

.subhead-home .callout-1 {
    width: 45.5%;
}

.subhead-home figure {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.subhead-home .callout-0 figure {
    text-align: right;
    justify-content: flex-end;
    padding: 0 2em 0 11%;
}

@media (min-width: 440px) {
    .subhead-home .callout-0 figure {
        padding: 0 13.278% 0 11%;
    }
}

@media (min-width: 600px) {
    .subhead-home .callout-0 figure {
        justify-content: space-between;
        padding: 0 10.5% 0 4%;
    }
}

@media (min-width: 960px) {
    .subhead-home .callout-0 figure {
        padding: 0 10.5% 0 10.5%;
    }
}

@media (min-width: 1170px) {
    .subhead-home .callout-0 figure {
        padding: 0 10.5% 0 3.438em;
    }
}

.subhead-home .callout-1 figure {
    text-align: left;
    padding: 0 11% 0 2em;
}

@media (min-width: 440px) {
    .subhead-home .callout-1 figure {
        padding: 0 11% 0 13.278%;
    }
}

@media (min-width: 600px) {
    .subhead-home .callout-1 figure {
        padding: 0 2.8em 0 1.4em;
        text-align: right;
    }
}

@media (min-width: 960px) {
    .subhead-home .callout-1 figure {
        padding: 0 2.8em 0 10%;
    }
}

.subhead-home figure img {
    display: none;
    max-height: 105%;
    width: auto;
    filter: var(--sticker-shadow);
}

@media (min-width: 600px) {
    .subhead-home figure img {
        display: block;
    }
}

.subhead-home .callout-0 figure img {
    max-width: 166px;
}

@media (min-width: 1170px) {
    .subhead-home .callout-0 figure img {
        max-width: none;
    }
}

.subhead-home .callout-1 figure img {
    max-width: 136px;
}

@media (min-width: 600px) {
    .subhead-home .callout-1 figure img {
        width: 95px;
    }
}

@media (min-width: 690px) {
    .subhead-home .callout-1 figure img {
        width: 41.5%;
    }
}

@media (min-width: 1170px) {
    .subhead-home .callout-1 figure img {
        width: auto;
        max-width: none;
    }
}

.subhead-home figcaption {
    max-width: 92%;
    margin-top: -0.5em;
    color: var(--neutral-0);
    text-shadow: 0 1px 4px rgba(0 0 0 / 55%);
}

@media (min-width: 440px) {
    .subhead-home figcaption {
        font-size: 1.07em;
    }
}

@media (min-width: 512px) {
    .subhead-home figcaption {
        font-size: 1.125em;
    }
}

@media (min-width: 600px) {
    .subhead-home figcaption {
        margin-left: 1em;
    }
}

@media (min-width: 960px) {
    .subhead-home figcaption {
        font-size: 1.875vw;
    }
}

@media (min-width: 1170px) {
    .subhead-home figcaption {
        font-size: 1.283em;
    }
}
/* Global Z-Stack */
/* For setting z-index on any competing page-level elements */

.floating-back {
    z-index: 50;
}

.bg-dragon {
    z-index: -60;
}