html {
    scroll-behavior: smooth;
    font-size: var(--font-size-base);
    height: 100%;
}

* {
    box-sizing: border-box;
  }

/* Default Overrides */
figure {
    /* Override default margins */
    margin: 0;
}

body {
    position: relative; /* Necessary to position dragon footer background */
    display: flex;
    flex-direction: column;
    /* 
        Mobile styles are designed to work down to 414px, 
        stop resizing at 320 so things don't crunch if the user is doing something funky
    */
    min-width: 320px;
    min-height: 100%;
    color: var(--neutral-7);
    font-family: var(--font-copy);
    text-rendering: optimizeLegibility;
    background-color: var(--neutral-0);
}

main {
    flex: 1 0 auto;
}

/* Accessability */
/* --------------------- */
/* Hide certain elements to all users
except screen readers
From: https://webaim.org/techniques/css/invisiblecontent/ */
.screen-reader {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: (inset(50%));
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

/* Structure */
/* --------------------- */
.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.unstyled-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.unstyled-button {
    background: none;
    border: 0;
}

/* Spacers */
.spacer-2 {
    display: block;
    height: 2em;
}

/* Typography */
/* --------------------- */
.heading-3 {
    font-size: 2.188em;
    font-family: var(--font-header);
    font-weight: 600;
}

/* Appearance */
/* --------------------- */
/* Default link appearance */
p a {
  color: var(--accent-1);
  border-radius: var(--corner-copy);
  text-decoration: none;
  transition: all 0.15s cubic-bezier(0.33, 1, 0.68, 1);
}

p a:hover {
    background-color: var(--accent-1);
    color: var(--neutral-0);
}