:root {
    /* Colors */
    --neutral-0: #fcf8f4;
    --neutral-7: #3a3a3a;
    --neutral-4: #938f8c;
    --accent-0: #ffaaaa;
    --accent-1: #9fb1ff;

    --neutral-0-glass: rgb(252, 248, 244, 0.7);

    /* Typography */
    --font-size-base: 15px;
    --font-bold: 700;
    --font-copy: 'Philosopher', sans-serif;
    --font-header: 'Croissant One', serif;

    /* Filters */
    --glass-blur: blur(3px);

    /* Structure */
    --max-width: 1390px;
    --content-width: 990px;
    --content-medium: 720px;

    --resp-side: 1.25em;

    /* Appearance */
    --corner-base: 0.7em;
    --corner-copy: 0.2em;

    /* Media Queries */
    /* 
        These can't be used as query parameters,
        so refer to this list when doing media queries!
    */
    --desktop-base: 1170px;
    --desktop-small: 960px;
    --tablet-portrait: 768px;
    --tablet-medium: 690px;
    --mobile-landscape-small: 600px;
    --mobile-medium: 512px;
    --desktop-minimum: 480px;
    --mobile-portrait-max: 440px;
    --mobile-minimum: 414px;
}

@media screen and (min-width: 440px) {
    :root {
        --resp-side: 1.5em;
    }
}

@media screen and (min-width: 600px) {
    :root {
        --font-size-base: 16px;
    }
}

@media screen and (min-width: 768px) {
    :root {
        --resp-side: 3.125em;
    }    
}

@media screen and (min-width: 960px) {
    :root {
        --resp-side: 4.5em;
    }
}