<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Naomi's Portfolio{% if title %}| {{title}}{% endif %}</title>
    <link rel="stylesheet" href="/styles-bundle.css">
</head>
<body class="{% block bodyclass %}{% endblock %}">
    {# Markup for individual page templates #}
    {% block template %}
        {# Default markup can go in here if necessary #}
    {% endblock %}

    {# Allow scripts to be included on a page by page basis #}
    {% block scripts %}
    {% endblock %}
</body>
</html>