<div class="base-footer">
    <p>
        {# TODO: Replace this with a script tag later #}
        This website was made by hand with [Eleventy](https://www.11ty.dev/). naomi.computer uses no cookies or tracking code.
    </p>
    <p>
        Copyright (c) 2024 Naomi Rubin
    </p>
</div>