<div class="base-footer">
    <p>
        This website was made by hand with <a href="https://www.11ty.dev/" target="_blank">Eleventy</a>. naomi.computer uses no cookies or tracking code.
        <br/>
        Copyright (c) {% year %} Naomi Rubin
    </p>
</div>