<div class="base-footer">
    <div class="spacer"></div>
    <div class="container">
        <p>
            This website was made by hand with <a href="https://www.11ty.dev/" target="_blank">Eleventy</a>. naomi.computer uses no cookies or tracking code.
        </p>
        <p class="copyright">
            Copyright (c) {% year %} Naomi Rubin
        </p>
    </div>
</div>