{% extends "base.njk" %}
    
{% block template %}
    <main>
        <div class="container">
            <header class="header-home">
                {# Full width header with castle frame and changable inner image #}
                {# Image should be 828 * 730 (or larger, with the same ratio) at 2x #}
                <figure>
                    <picture class="window-view">
                        <source 
                            srcset="/assets/images/heading-view-robbi@2x.jpg 920w"/>
                        <img src="/assets/images/heading-view-robbi.jpg"/>
                    </picture>

                    <picture class="window">
                        <source 
                            srcset="/assets/images/header-castle-window@2x.png 2260w,
                                    /assets/images/header-castle-window.png 1130w"/>
                        <img src="/assets/images/header-castle-window.png"/>
                    </picture>
                </figure>
                <div class="introduction">
                    <span class="greeting">
                        Hello! I'm Naomi
                    </span>
                    <h2>
                        Making big stories accessible with
                        art, writing, and code 💖 I love learning things
                    </h2>
                </div>
            </header>
            <div class="subhead-home">
                <div class="callout-0">
                    <figure class="sticker-values">
                        <img src="/assets/images/subhead-sticker-values.png"/>
                        <figcaption>I want to do work that contributes to my values</figcaption>
                    </figure>
                </div>
                <div class="callout-1">
                    <figure class="sticker-3d">
                        <img src="/assets/images/subhead-sticker-3d.png"/>
                        <figcaption>Currently excited about 3D modeling and Swift</figcaption>
                    </figure>
                </div>
            </div>
            
            <div class="bg-cloud-right"></div>
            <div class="bg-cloud-left"></div>

            {% include 'filter-projects.njk' %}
            {% include 'mail-external.njk' %}

        </div>
    </main>
{% endblock %}

{% block scripts %}
    <script 
        type="text/javascript" 
        src="scripts-bundle_homepage.js"
        id="filter-projects-script"
        data-projects="{{collections.projectListings | dump}}"
    >
    </script>
{% endblock %}