{% extends "base.njk" %}
    
{% block template %}
    <main>
        <div id="filter-projects">
            {# 
                Create a filters list statically,
                as what these are won't change in JS
             #}
            <ul id="filter-list">
                {% for filter in collections.filters %}
                    <li><button data-filter="{{filter}}">
                        {{filter}}
                    </button></li>        
                {% endfor %}
            </ul>
            <div id="projects-list"></div>
        </div>
    </main>
{% endblock %}

{% block scripts %}
    <script 
        type="text/javascript" 
        src="scripts-bundle_homepage.js"
        id="filter-projects-script"
        data-projects="{{collections.projectListings | dump}}"
    >
    </script>
{% endblock %}