{%- macro mailExternal(params) -%}
<div class="mail-external">
    <div class="container">
        <a href="{% include "mailto.njk" %}" class="mail-logo">
            <img src="/assets/images/mail_dragonmail-logo.png"/>
        </a>
        <div class="mail-callout">
            <a href="{% include "mailto.njk" %}" class="mail-text">
                <p>
                    Want to work together, or talk about a project?
                </p>
                <p class="prompt">
                    Say Hi!
                </p>
            </a>
            <p class="email-address">
                (hi@naomi.computer)
            </p>
            <div class="socials">
                <p>Socials... I'm not really into them, but if you need links for a work reason, they are here.</p>
                <ul class="icon-list">
                    <li>
                        <a href="instagram.com/naomiyaki">
                            
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{%- endmacro -%}
