{%- macro mailExternal(params) -%}
<div class="mail-external">
    <div class="container">
        <a href="{% include "mailto.njk" %}" class="mail-logo">
            <img src="/assets/images/mail_dragonmail-logo.png"/>
        </a>
        <div class="mail-callout">
            <a href="{% include "mailto.njk" %}" class="mail-text">
                <p>
                    Want to work together, or talk about a project?
                </p>
                <p class="prompt">
                    Say Hi!
                </p>
            </a>
            <p class="email-address">
                (hi@naomi.computer)
            </p>
            <div class="socials">
                <p>Socials: I'm not really into them, but if you need links for a work reason, they are here.</p>
                <ul class="unstyled-list">
                    <li>
                        <a href="https://www.instagram.com/naomiyaki" target="_blank">
                            <img src="/assets/images/social-icon_ig.svg"/>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.github.com/naomiyaki" target="_blank">
                            <img src="/assets/images/social-icon_github.svg" />
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/naomi-rubin-98663117" target="_blank">
                            <img src="/assets/images/social-icon_linkedin.svg" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{%- endmacro -%}
