<div class="mail-external">
    <div class="bg-dragon"></div>

    <div class="container">
        <a href="{% include "mailto.njk" %}" class="mail-logo">
            <img src="/assets/images/mail_dragonmail-logo.png"/>
        </a>
        <div class="mail-callout">
            <a href="{% include "mailto.njk" %}" class="mail-text">
                <p>
                    Want to work together, or talk about a project?
                </p>
                <p class="prompt">
                    Say Hi!
                </p>
            </a>
            <div class="socials">
                <p>Looking for socials? I'm not really into them, but if you need links for a work reason, they are <a href="#">here.</a></p>
            </div>
        </div>
    </div>
</div>
