{% extends "base.njk" %}

{% block bodyclass %}pagetype-detail{% endblock %}

{% block template %}
    {% include 'floating-back.njk' %}

    {% if hero %}
        <div class="detail-hero">
            <div class="hero-crop">
                <div class="hero-image" style="background-image: url({{hero}});"></div>
            </div>
            <img class="hero-frame" src="/assets/images/detail-frame-nose@2x.png"/>
            <img class="hero-logo" src="{{logo}}"/>
        </div>
    {% endif %}

    <header class="project-header">
        <div class="header-copy">
            <h1>{{name | safe}}</h1>
            <div class="project-tagline">
                {{tagline}}
            </div>
        </div>
        <div class="horizontal-rule"></div>
    </header>

    <div class="project-body">
        <div class="project-info">
            <div class="info-screen">
                <img class="screen-top" src="/assets/images/project_info-screen_top@2x.png"/>
                <ul class="info-list unstyled-list">
                    {% for detail in info %}
                        <li class="info-{{detail.type}}">
                            <div class="info-name">
                                {{detail.name}}
                            </div>
                            <div class="info-value">
                                {{detail.value}}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                <img class="screen-bottom" src="/assets/images/project_info-screen_bottom@2x.png" />
            </div>
        </div>
        <main class="default-copy">
            {{ content | safe }}
        </main>
    </div>
    
    <div class="project-footer connected-filters">
        <div class="prompt">Find some more projects!</div>
        {% if filters %}
            <ul class="unstyled-list">
                {% for filter in filters %}
                    <li>
                        <a href="/?projectFilter={{filter | slugify}}#projects">{{filter}}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    {%- from 'mail-external.njk' import mailExternal %}
    {{ mailExternal({bg: 'false'}) }}
{% endblock %}

{% block scripts %}
    <script 
        type="text/javascript" 
        src="/scripts-bundle_project-detail.js"
    >
    </script>
{% endblock %}