{% extends "base.njk" %}

{% block bodyclass %}pagetype-detail{% endblock %}

{% block template %}
{% include 'floating-back.njk' %}

<div class="resume-header">
    <img class="logo" src="/assets/images/resume_stamp@2x.png"/>
    <div class="container">
        <h1>Résumé - CV</h1>
    </div>
</div>
        
<div class="resume-copy">
    <div>
        {{ content | safe }}
    </div>
    <div class="spacer"></div>
</div>

<div class="featured-list">
    <ul class="unstyled-list">
        {% for resume in resumes %}
        <li>
            <a class="featured-listing" target="_blank" href="/assets/docs/{{resume.file}}">
                <figure>
                    <div class="thumb">
                        <img class="thumb-image" src="/assets/images/{{resume.thumb}}"/>
                    </div>
                    <figcaption>{{resume.name}}</figcaption>
                    <div class="prompt-text">Download</div>
                </figure>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>


{% endblock %}