---
    permalink: scripts-bundle_homepage.js
---

{# Capturing the script to minify #}
{# https://www.11ty.dev/docs/quicktips/inline-js/ #}
{% set js %}{% include "scripts/filter-projects.js" %}{% endset %}

{{js | minJS | safe}}